{
  "SignalK": {
    "connections": [
      {
        "class": "fairwind::connections::SignalKAPIClient",
        "active": true,
        "url": "http://demo.signalk.org/signalk/v1/api",
        "restore": true
      },
      {
        "class": "fairwind::connections::SignalKWSClient",
        "active": true,
        "url": "ws://demo.signalk.org/signalk/v1/stream"
      }
    ],
    "keys": {
      "navigation.speedOverGround": {
        "label": "SOG",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.courseOverGroundTrue": {
        "label": "COG",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "navigation.speedThroughWater": {
        "label": "Boat Speed",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.headingTrue": {
        "label": "Heading True",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.wind.speedApparent": {
        "label": "AWS",
        "units": "kn",
        "format": "f",
        "fieldWidth": 3,
        "precision": 1,
        "fillChar": "0"
      },
      "environment.wind.angleApparent": {
        "label": "AWA",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.water.temperature": {
        "label": "Water Temp",
        "units": "C",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.depth.belowTransducer": {
        "label": "Depth",
        "units": "m",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1
      }
    }
  },
  "Extensions": {
    "Apps": [
      {
          "Id": "it.uniparthenope.fairwind.apps.chart",
          "Active": true,
          "Order": 1
        },
            {
              "Id": "it.gov.guardiacostiera.gc1530",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.portolano",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.sonar",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.radar",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "it.uniparthenope.fairwind.apps.dashboard",
              "Active": true,
              "Order": 1,
              "Args": {
                "Name":"Data",
                "Icon":":/resources/images/icons/dashboard_icon.png",
                "Config": {
                  "default": "Navigation",
                  "pages": [
                    {
                      "name": "Navigation",
                      "class": "fairwind::layouts::GridLayout",
                      "displays": [
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "0,0",
                          "fullPath": "${self}.navigation.speedOverGround"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "0,1",
                          "fullPath": "${self}.navigation.courseOverGroundTrue"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "0,2",
                          "fullPath": "${self}.navigation.speedThroughWater"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "0,3",
                          "fullPath": "${self}.navigation.headingTrue"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "1,0",
                          "fullPath": "${self}.environment.wind.speedApparent"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "1,1",
                          "fullPath": "${self}.environment.wind.angleApparent"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": false,
                          "layout": "1,2",
                          "fullPath": "${self}.environment.water.temperature"
                        },
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "1,3",
                          "fullPath": "${self}.environment.depth.belowTransducer"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            {
              "Id": "it.uniparthenope.fairwind.apps.dashboard",
              "Active": true,
              "Order": 1,
              "Args": {
                "Name":"Switch Panel",
                "Icon":":/resources/images/icons/switchpanel_icon.png",
                "Config": {
                  "default": "Main",
                  "pages": [
                    {
                      "name": "Main",
                      "class": "fairwind::layouts::GridLayout",
                      "displays": [
                        {
                          "class": "fairwind::displays::DisplaySingleText",
                          "active": true,
                          "layout": "0,0",
                          "fullPath": "${self}.navigation.speedOverGround"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            {
              "Id": "it.uniparthenope.fairwind.apps.entertainment",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.video",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.chandlery",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.uav",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.weather",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "fairwind.apps.imsf",
              "Active": true,
              "Order": 1
            },
            {
              "Id": "it.uniparthenope.fairwind.apps.web",
              "Active": true,
              "Order": 1,
              "Args": {
                "Name": "Signal K Server",
                "Icon":":/resources/images/icons/signalk_server_icon.png",
                "Url": "http://localhost:3000"
              }
            },
            {
              "Id": "it.uniparthenope.fairwind.apps.native",
              "Active": true,
              "Order": 1,
              "Args": {
                "Name": "Open CPN",
                "Icon":":/resources/images/icons/opencpn_icon.png",
                "Command": "/Applications/OpenCPN.app/Contents/MacOS/OpenCPN -fullscreen"
              }
            }
    ]
  }
}