{
  "SignalK": {
    "connections": [
      {
        "class": "fairwind::connections::SignalKAPIClient",
        "active": true,
        "url": "http://demo.signalk.org/signalk/v1/api",
        "restore": true
      },
      {
        "class": "fairwind::connections::SignalKWSClient",
        "active": true,
        "url": "ws://demo.signalk.org/signalk/v1/stream"
      }
    ],
    "keys": {
      "navigation.speedOverGround": {
        "label": "SOG",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.courseOverGroundTrue": {
        "label": "COG",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "navigation.speedThroughWater": {
        "label": "Boat Speed",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.headingTrue": {
        "label": "Heading True",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.wind.speedApparent": {
        "label": "AWS",
        "units": "kn",
        "format": "f",
        "fieldWidth": 3,
        "precision": 1,
        "fillChar": "0"
      },
      "environment.wind.angleApparent": {
        "label": "AWA",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.water.temperature": {
        "label": "Water Temp",
        "units": "C",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.depth.belowTransducer": {
        "label": "Depth",
        "units": "m",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1
      }
    }
  },
  "Extensions": {
    "Apps": [
      {
        "Id": "it.uniparthenope.fairwind.apps.chart",
        "Active": true,
        "Order": 1,
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.sonar",
        "Active": true,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.radar",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.audio",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.video",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.uav",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Signal K",
          "Icon": "resources/images/icons/signalk_icon.png",
          "Url": "http:192.168.1.200:3000"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "FreeBoard",
          "Icon": "resources/images/icons/freeboard_icon.png",
          "Url": "http://192.168.1.200:3000/@signalk/freeboard-sk/"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Instrument Panel",
          "Icon": "resources/images/icons/instrumentpanel_icon.png",
          "Url": "http://192.168.1.200:3000/@signalk/instrumentpanel/"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Navionics",
          "Icon": "resources/images/icons/navionics_icon.png",
          "Url": "https://webapp.navionics.com"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.native",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Open CPN",
          "Icon": "resources/images/icons/opencpn_icon.png",
          "Command": "/Applications/OpenCPN.app/Contents/MacOS/OpenCPN -fullscreen"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name":"Kip",
          "Icon": "resources/images/icons/kip_icon.png",
          "Url": "http://192.168.1.200:3000/@mxtommy/kip/#/page/0"
        }
      }
    ]
  }
}