{
  "SignalK": {
    "connections": [
      {
        "class": "fairwind::connections::SignalKAPIClient",
        "active": true,
        "url": "http://demo.signalk.org/signalk/v1/api"
      },
      {
        "class": "fairwind::connections::SignalKWSClient",
        "active": true,
        "url": "ws://demo.signalk.org/signalk/v1/stream"
      }
    ],
    "keys": {
      "navigation.speedOverGround": {
        "label": "SOG",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.courseOverGroundTrue": {
        "label": "COG",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "navigation.speedThroughWater": {
        "label": "Boat Speed",
        "units": "kn",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1,
        "fillChar": "0"
      },
      "navigation.headingTrue": {
        "label": "Heading True",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.wind.speedApparent": {
        "label": "AWS",
        "units": "kn",
        "format": "f",
        "fieldWidth": 3,
        "precision": 1,
        "fillChar": "0"
      },
      "environment.wind.angleApparent": {
        "label": "AWA",
        "units": "deg",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.water.temperature": {
        "label": "Water Temp",
        "units": "C",
        "format": "f",
        "fieldWidth": 3,
        "precision": 0
      },
      "environment.depth.belowTransducer": {
        "label": "Depth",
        "units": "m",
        "format": "f",
        "fieldWidth": 4,
        "precision": 1
      }
    }
  },
  "Extensions": {
    "Apps": [
      {
        "Id": "it.uniparthenope.fairwind.apps.chart",
        "Active": true,
        "Order": 1,
        "Config": {
          "displays": [
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "left",
              "fullPath": "${self}.navigation.speedOverGround"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "left",
              "fullPath": "${self}.navigation.courseOverGroundTrue"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "left",
              "fullPath": "${self}.navigation.speedThroughWater"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "left",
              "fullPath": "${self}.navigation.headingTrue"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "right",
              "fullPath": "${self}.environment.wind.speedApparent"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "right",
              "fullPath": "${self}.environment.wind.angleApparent"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": false,
              "layout": "right",
              "fullPath": "${self}.environment.water.temperature"
            },
            {
              "class": "fairwind::displays::DisplaySingleText",
              "active": true,
              "layout": "left",
              "fullPath": "${self}.environment.depth.belowTransducer"
            }
          ],
          "Layers": [
            {
              "class":"fairwind::layers::FairWindOSMLayer",
              "active": true
            },
            {
              "class": "fairwind::layers::FairWindTiledLayer",
              "active": false,
              "name": "ESRI Navigation Charts",
              "description": "World Navigation Charts by ESRI.",
              "url": "https://services.arcgisonline.com/ArcGIS/rest/services/Specialty/World_Navigation_Charts/MapServer/tile/${z}/${y}/${x}"
            },
            {
              "class": "fairwind::layers::FairWindTiledLayer",
              "active": true,
              "name": "OpenSeaMap",
              "description": "The OpenSeaMap layer.",
              "url": "http://tiles.openseamap.org/seamark/${z}/${x}/${y}.png"
            },
            {
              "class": "fairwind::layers::SignalKLayer",
              "active": true,
              "name": "Base Stations",
              "description": "Shore base stations.",
              "fullPath": "shore.basestations"
            },
            {
              "class": "fairwind::layers::SignalKLayer",
              "active": true,
              "name": "ATONs",
              "description": "Aids to navigation.",
              "fullPath": "atons"
            },
            {
              "class": "fairwind::layers::SignalKLayer",
              "active": true,
              "name": "Vessels",
              "description": "All the other vessels in the range.",
              "fullPath": "vessels"
            },
            {
              "class": "fairwind::layers::SignalKLayer",
              "active": true,
              "name": "Self",
              "description": "The Vessel."
            }
          ]
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.sonar",
        "Active": true,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.radar",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.dashboard",
        "Active": true,
        "Order": 1,
        "Config": {
          "default": "Navigation",
          "pages": [
            {
              "label": "Navigation",
              "class": "Page4x4",
              "displays": [
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "00",
                  "fullPath": "${self}.navigation.speedOverGround"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "01",
                  "fullPath": "${self}.navigation.courseOverGroundTrue"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "02",
                  "fullPath": "${self}.navigation.speedThroughWater"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "03",
                  "fullPath": "${self}.navigation.headingTrue"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "10",
                  "fullPath": "${self}.environment.wind.speedApparent"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "11",
                  "fullPath": "${self}.environment.wind.angleApparent"
                },
                {
                  "class": "DisplaySingleText",
                  "active": false,
                  "layout": "12",
                  "fullPath": "${self}.environment.water.temperature"
                },
                {
                  "class": "DisplaySingleText",
                  "active": true,
                  "layout": "13",
                  "fullPath": "${self}.environment.depth.belowTransducer"
                }
              ]
            }
          ]
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.audio",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.video",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.uav",
        "Active": false,
        "Order": 1
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Signal K",
          "Icon": "icons/signalk.png",
          "Url": "http:192.168.1.200:3000"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "FreeBoard",
          "Icon": "icons/freeboard.png",
          "Url": "http://192.168.1.200:3000/@signalk/freeboard-sk/"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Instrument Panel",
          "Icon": "icons/instrumentpanel.png",
          "Url": "http://192.168.1.200:3000/@signalk/instrumentpanel/"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.native",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name": "Open CPN",
          "Icon": "icons/opencpn.png",
          "Command": "/Applications/OpenCPN.app/Contents/MacOS/OpenCPN -fullscreen"
        }
      },
      {
        "Id": "it.uniparthenope.fairwind.apps.web",
        "Active": true,
        "Order": 1,
        "Args": {
          "Name":"Kip",
          "Icon": "icons/kip.png",
          "Url": "http://192.168.1.200:3000/@mxtommy/kip/#/page/0"
        }
      }
    ]
  }
}